@reference "./../../../index.css"; /* Ajusta la ruta a tu archivo CSS principal */

.image-content {
  @apply w-full md:w-xs;
}

.Card {
  @apply flex w-full md:w-xs flex-col justify-center gap-3.5 overflow-hidden rounded-2xl border pb-3.5;
  border-color: rgba(138, 141, 145, 0.2);
}
