@reference "./../../../index.css"; /* Ajusta la ruta a tu archivo CSS principal */

.image-content {
  @apply h-48 w-full object-cover md:w-xs;
}

.Card {
  @apply flex h-full w-full flex-col justify-between overflow-hidden rounded-2xl border pb-3.5 md:w-xs;
  border-color: rgba(138, 141, 145, 0.2);
}
