@reference "./../../../index.css"; /* Ajusta la ruta a tu archivo CSS principal */

.dropdown-content {
  @apply flex cursor-pointer justify-center;
  color: var(--color-foreground);
}

.language-container {
  @apply flex-1 list-none content-center justify-center p-2 select-none;
}
