.btn {
  padding: 5px;
  border-radius: 10px;
}

.btn-primary {
  /* background-color: var(--color-primary); */
  background-color: var(--color-button-primary);
  /* color: var(--color-text-primary-inverted); */
  color: var(--color-text);
  box-shadow: var(--shadow-neon);
}

.btn-primary:hover {
  background-color: var(--color-button-primary-hover);
  color: var(--color-foreground);
}

.btn-secondary {
  background-color: transparent;
  border: 1px solid #f5f5f5;
  color: #f5f5f5;
  backdrop-filter: blur(4px); /* Efecto cristal */
}
