.mainScreen {
  display: flex;
  justify-content: center;
  align-items: center;

  background: radial-gradient(circle at center, #1a1a2e 0%, #121212 100%);
  min-height: 100vh;
  /* min-width: 100vw; */
  color: #f5f5f5;
}

.techPattern {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='80' height='80' viewBox='0 0 80 80'%3E%3Cg fill='%2300F2FF' fill-opacity='0.05'%3E%3Cpath d='M0 0h80v80H0z' fill='none'/%3E%3Cpath d='M10 10h2v2h-2zm10 0h2v2h-2zm10 0h2v2h-2zm10 0h2v2h-2zm10 0h2v2h-2zm10 0h2v2h-2zm10 0h2v2h-2zm10 0h2v2h-2zM10 20h2v2h-2zm10 0h2v2h-2zm10 0h2v2h-2zm10 0h2v2h-2zm10 0h2v2h-2zm10 0h2v2h-2zm10 0h2v2h-2zm10 0h2v2h-2z'/%3E%3C/g%3E%3C/svg%3E");
  /* Esto crea una malla de puntos sutiles tipo blueprint */
}
