@reference "./../../../index.css"; /* Ajusta la ruta a tu archivo CSS principal */

.section-featured-projects {
  @apply flex flex-col pt-5 text-white lg:pt-10 container mx-auto;
}

.section-title {
  @apply pb-3;
}
