.logo {
  width: 75px;
}

.header {
  margin: 25px;
  display: flex;
  justify-content: space-between;
}

.menu {
  display: flex;
}

.menu > li {
  flex: 1;
  padding-left: 20px;
  list-style-type: none;
  word-break: keep-all;
}
